*{
    background: #9C90DD;
    text-align: center;
    margin-bottom: 20px;
}


    

.titulo{
    margin-bottom: 5px;
    background-color: #9156D1;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    

    
    
}

.tab{
  height: 100px;
  width: 300px;
  margin-right: 520px;
  font-size: 25px;
  border: rgb(0, 0, 0);
  background: rgb(130, 112, 236);
  

  
}


.btn:hover{
    background-color: #9156D1;
 
}

.btn{
   
    width: 120px;
    height: 30px; 
    font-size: 15px; 
    border-radius: 20px;

}

.bot:hover{
    background-color: #9156D1;
 
}

.bot{
   border-radius: 20px;
   top: 300px;
   font-size: 15.5px;
   position: relative;
   
  
   

}

.res{

    margin-bottom: 25px;
    background-color: #9156D1;
    font-size: 25px;
    border-radius: 20px;
}

.res2{

    margin-bottom: 25px;
    background-color: #9156D1;
    font-size: 25px;
    border-radius: 20px;
}

.res3{

    margin-bottom: 25px;
    background-color: #9156D1;
    font-size: 25px;
    border-radius: 20px;
}


.tempa{
    border-radius: 20px;
    width: 200px;
    height: 30px; 
    margin: 1px;
}

.tempb{
    border-radius: 20px;
    width: 200px;
    height: 30px; 
    margin: 1px;
}

.tempc{
    border-radius: 20px;
    width: 200px;
    height: 30px; 
    margin: 1px;
}