*{
    background: #BDD395;
    text-align: center;
    margin-bottom: 20px;
}


    

.titulo{
    margin-bottom: 25px;
    background-color: #8AAC66;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin: 80px auto;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}


.btn:hover{
    background-color: #8AAC66;
 
}

.btn{
   
    width: 120px;
    height: 30px; 
    font-size: 15px; 
    border-radius: 20px;

}


.bot:hover{
    background-color: #8AAC66;
 
}

.bot{
   border-radius: 20px;
   top: 380px ;
   position: absolute;
   font-size: 15.5px;
   

   

}

.numero{
    width: 150px;
    height: 25px; 
    font-size: 15px; 
    border-radius: 20px;
    text-align: center;
    margin: 0.5px auto;
    margin: 1px;

}

.result{
    margin-bottom: 25px;
    background-color: #8AAC66;
    font-size: 25px;
    border-radius: 20px;
   }
