*{
    background: #8CC5E8;
    text-align: center;
    margin-bottom: 20px;
}


    

.titulo{
    margin-bottom: 5px;
    background-color: #3B8BBD;
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    

    
    
}

.tab{
  height: 100px;
  width: 300px;
  margin-right: 640px;
  border: rgb(0, 0, 0);
  background: rgb(82, 183, 247);
  
  
}


.btn:hover{
    background-color: #3B8BBD;
 
}

.btn{
   
    width: 120px;
    height: 30px; 
    font-size: 15px; 
    border-radius: 20px;

}

.bot:hover{
    background-color: #3B8BBD;
 
}

.bot{
   border-radius: 20px;
   top: 230px ;
   font-size: 15.5px;
   position: relative;
   

}

.primo{

    margin-bottom: 25px;
    background-color: #3B8BBD;
    font-size: 25px;
    border-radius: 20px;
}

.val{
    border-radius: 20px;
    width: 200px;
    height: 30px; 
    margin: 1px;
}