*{
    background: rgb(180, 180, 180);
    text-align: center;
    margin-bottom: 20px;
}


.titulo{
    margin-bottom: 25px;
    background-color: rgb(146, 146, 146);
    border-radius: 20px;
    width: 300px;
    height: 100px;
    margin: 90px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    
    
}

.btn:hover{
    background-color:gold;
 
}


.btn2:hover{
    background-color:#8AAC66;
 
}


.btn3:hover{
    background-color:#3B8BBD;
 
}


.btn4:hover{
    background-color:#9156D1;
 
}


.btn5:hover{
    background-color:#F85454;
 
}

.btn, .btn2, .btn3, .btn4, .btn5{
   
    width: 120px;
    height: 30px; 
    font-size: 15px; 
    border-radius: 20px;
   position: relative;
    

}